# Build files
build/
*.exe
*.o
*.obj
*.a
*.lib
*.dll
*.so

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace
.DS_Store

# Temporary files
*.tmp
tempCodeRunnerFile.cpp
*.bak

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Executable files
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.gch

# Dependency files
*.d
